/** COLORS
===================================*/

// List all of the colors used in this site
// All color variables should begin with $color-

$color-name:          #000000;
$color-href:          #454545;
$color-href-hover:        #454545;
